html
{
    height: 0;
}
body
{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-size: 2.25rem;
}
p{
    line-height: 2;
    font-weight: normal;
    font-size: 1rem;
    font-family: 'Baloo Da 2', cursive;
}
h1
{
    width: 50%;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    padding-top: 50px;
    padding-bottom: 0;
    color: #66BFBF;
    
}

h2{
    color: #66BFBF;
}
h3{
    color: #11999E;
}
a{
    color: #11999E;
    margin: 10px 20px;
    font-size: 1rem;
    font-family: 'Baloo Da 2', cursive;
}
hr{
    border-style: none;
    border-color: coral;
    border-top-style:dotted;
    width: 10%;
    border-width: 5px;
    margin: 100px auto 100px;
}
a:hover
{
    color: #ffffff;
}
   

.cloud1
{
    position: absolute;
    left: 400px;
    top: 300px;
}
.cloud2
{
    position: absolute;
    right: 300px;
    top: 40px;
}
.pro
{
    text-decoration: underline;
}
.top-container
{
   background-color: #b7efcd;
     position: relative;


}
.circular
{
    width: 200px;
    height: 200px;
 border-radius: 10%;
 border-bottom-left-radius: 10%;
 border-top-left-radius: 10%;
 border-top-right-radius: 10%;
 border-bottom-right-radius: 10%;
}
.middle-container
{
  margin: 100px 0;
}
.bottom-container
{
    background-color: #66bfbf;
    padding: 40px 0 20px;
}

.dance
{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 100px;
}
.coding
{
    width: 100px;
    height: 100px;
    float: right;
}
.dev
{
    text-align: left;
}
.dancing
{
    text-align: right;
}
.skill-row
{
    width: 50%;
    margin: 0 auto 0 auto;
}
.intro
{
    width: 30%;
    margin: auto;
}
.contact-msg
{
    width: 40%;
    margin: 50px auto 50px auto;
}
.btn {
	-moz-box-shadow:inset 1px -1px 0px 2px #9fb4f2;
	-webkit-box-shadow:inset 1px -1px 0px 2px #9fb4f2;
	box-shadow:inset 1px -1px 0px 2px #9fb4f2;
	background-color:#7892c2;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:19px;
	font-weight:bold;
	padding:8px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn:hover {
	background-color:#476e9e;
}
.btn:active {
	position:relative;
	top:1px;
}

        